@tailwind base;
@tailwind components;
@tailwind utilities;

/* Серебристое свечение */
@keyframes silverGlow {
  0%, 100% {
    filter: drop-shadow(0 0 5px #c0c0c0) brightness(1.2);
  }
  50% {
    filter: drop-shadow(0 0 15px #e0e0e0) brightness(1.6);
  }
}

.animate-pulse-silver {
  animation: silverGlow 2s infinite;
}

/* Активная кнопка меню */
.active-tab {
  background-color: #fbcfe8; /* розовый */
  color: black;
  box-shadow: 0 0 12px rgba(255, 182, 193, 0.8);
}
